@font-face {
    font-family: "Mochiy Pop One";
    src: url("https://files.amitae.cc/web/fonts/hinted-MochiyPopOne-Regular.woff") format("woff"),
    url("https://files.amitae.cc/web/fonts/MochiyPopOne-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Instrument Serif";
    src: url("https://files.amitae.cc/web/fonts/hinted-InstrumentSerif-Regular.woff") format("woff"),
    url("https://files.amitae.cc/web/fonts/InstrumentSerif-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Instrument Serif";
    src: url("https://files.amitae.cc/web/fonts/hinted-InstrumentSerif-Italic.woff") format("woff"),
    url("https://files.amitae.cc/web/fonts/InstrumentSerif-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Kaisei Opti";
    src: url("https://files.amitae.cc/web/fonts/hinted-KaiseiOpti-Regular.woff") format("woff"),
    url("https://files.amitae.cc/web/fonts/KaiseiOpti-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Kaisei Opti";
    src: url("https://files.amitae.cc/web/fonts/hinted-KaiseiOpti-Medium.woff") format("woff"),
    url("https://files.amitae.cc/web/fonts/KaiseiOpti-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Kaisei Opti";
    src: url("https://files.amitae.cc/web/fonts/hinted-KaiseiOpti-Bold.woff") format("woff"),
    url("https://files.amitae.cc/web/fonts/KaiseiOpti-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}