@import url("/fonts.css");
body {
    display: grid;
    place-items: center;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9hGtZ1ydW3t6_4dwOXhDqrMvJRSPHggVDEEW9ZXbjPQSQk-gAR-f-hWkT&s=10") 0/128px repeat;
}

main p {
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
}

#topbar, #navbar, #mainspace {
    width: 720px;
}

#topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #006867;
    text-align: center;
    height: 128px;
}

#navbar {
    table-layout: fixed;
    border-collapse: collapse;
    height: 48px;
}

#navbar td {
    padding: 0;
}

.nav-cell {
    width: 33.3333%;
}

#navbar a {
    display: block;
    height: 48px;
    text-decoration: none;
    color: #FFF ;
    font-family: "Mochiy Pop One", sans-serif;
    text-align: center;
    line-height: 48px;
}

#navbar #home {
    background-color: #005748;
}

#navbar #about {
    background-color: #006867;
}

#navbar #services {
    background-color: #008a72;
}

.nav-link {
    background-color: #444;
    transition: letter-spacing 0.3s ease;
}

.nav-link:hover {
    letter-spacing: 0.1em;
}

#mainspace {
    display: table;
    table-layout: fixed;
    text-align: center;
    border: 2px solid #ccc;
    border-width: 0 2px 0 2px;
    height: 540px;
    background-color: #666;
}

#leftbar {
    display: table-cell;
    width: 180px;
    border-right: 2px dotted #ccc;
    vertical-align: top;
}

#contentspace {
    display: table-cell;
    width: 540px;
    vertical-align: top;
}

#ad-embed {
    width: 720px;
    text-align: center;
}